body, html {
  font: .85em/1.4 helvetica, Arial, sans-serif;
}

a { color: #00e }
a:visited { color: #551a8b }
a:hover { color: #06e }
a:focus { outline: thin dotted }
a:hover, a:active { outline: 0 }

h1,h2,h3,h4 {
  font-family: $display_font;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 .4em 0;
}

h1 { font-size: 2.8em }
h2 { font-size: 2em }
h3 { font-size: 1.8em }

p {


  img { // align content images left by default
    float: left;
    margin: 0 $thin_gap $thin_gap 0;
    padding: $thin_padding;
    background: $cl_neutral_bg;
  }

}
