#branding {
  @include background_rgba(0, 0, 0, 0.8);
  margin: $gap 0;
  position: relative;
  padding: 0 0 0 $gap;
}

#site-title {

  font-size: 38px;
  line-height: 38px;
  padding: $thin_padding;
  margin: 0;

  a { color: white; text-decoration: none }

}

// main nav
#menu-primary {
  position: absolute;
  top: 0;
  right: 0;
}

.menu-item { display: inline }

#pnl-11 { @include icons-sprite(projects) }
#pnl-12 { @include icons-sprite(blog) }

.pnl-icn {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  @include transition(background-color, .4s);
}

.pnl-txt {
  font: 500 16px/1 $display_font;
  text-transform: uppercase;
  padding: 16px 10px 0;
  display: block;
  float: left;
}

.primary-nav-link {

  display: block;
  text-decoration: none;
  float: left;
  color: white;
  position: relative;
  overflow: hidden;
  margin: 0 $gap 0 0;
  width: 48px;
  height: 48px;
  overflow: hidden;
  @include transition(width, .4s);

  &:hover {

    color: white;
    width: 140px;

    .pnl-icn { background-color: $cl_theme_elements !important; }

  }

}