// dimensions
$padding: 20px;
$thin_padding: 5px;

$gap: 10px;
$thin_gap: $gap / 2;

// colors
$cl_theme_elements: #0071da;
$cl_neutral_bg: #ddd;


// fonts
$display_font: 'Cabin Condensed', helvetica, Arial, sans-serif;
